footer {
  background-color: #333;
  color: #fff;
  padding: 16px 0;
  display: flex;
  height: 120px;
}
.p{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
    gap: 10px;
  flex-direction: column;
}
footer p , footer a{
  font-size: 20px;
  text-decoration: none;
  color: white;
}
footer a:hover{
  color: var(--secondary);
border-bottom: 1px solid white; ;
}